.service-btn {
    outline: none;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: green;
    border: 2px solid green;
    font-size: 15px;
    border-radius: 15px;
}
.service-btn:hover {
    outline: none;
    font-weight: bold;
    padding: 10px 25px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 15px;
    background-color: #fff;
    border: 2px solid green;
    color: green;
}