.banner-btn {
    outline: 2px solid #ffffff;
    color: rgb(255, 252, 252);
    font-weight: bold;
    padding: 10px 25px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 17px;
    border-radius: 15px;
}
.banner-btn:hover {
    outline: 1px solid #e6ac1b;;
    font-weight: bold;
    padding: 10px 25px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 15px;
    background-color: #e6ac1b;
    border: 1px solid #e6ac1b;
    color: #ffffff;
}