.banner-btn {
    outline: none;
    color: rgb(255, 252, 252);
    font-weight: bold;
    padding: 10px 25px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 15px;
}
.banner-btn:hover {
    outline: none;
    font-weight: bold;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #eead07;
}